@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  background-color: #dde1d4;
  padding: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  max-width: 650px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 140px) repeat(2, 100px);
  grid-template-rows: 100px repeat(3, 140px) repeat(2, 170px);
}

.header {
  display: flex;
  background-color: black;
  grid-column-start: 1;
  grid-column-end: 6;
  justify-content: space-between;
  align-items: flex-end;
}

.header__article {
  color: white;
  padding: 12px;
  font-weight: 600;
  line-height: 1.5;
}

.header__article:nth-child(2) {
  margin-right: 100px;
}

.bad {
  background-color: #ed400d;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 5;
  display: flex;
  padding: 8px 8px 0px 8px;
  align-items: flex-end;
}

.bad__article {
  font-size: 180px;
  font-weight: 650;
}

.bad-next {
  background-color: #ed400d;
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 4;
  grid-column-end: 6;
}

.religion {
  background-color: #ed400d;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 7;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.religion__article:first-child {
  font-size: 180px;
  font-weight: 650;
  box-sizing: border-box;
  margin-left: -10px;
  margin-top: -110px;
  margin-bottom: 40px;
}

.religion__article:nth-child(2) {
  color: white;
  font-size: 30px;
  font-weight: 600;
}
