@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  background-color: #f6f6f6;
  padding: 50px 25px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  max-width: 770px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200vh;
}

.screen {
  width: 470px;
  height: 670px;
  background-color: white;
  padding: 25px 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.header {
  width: 470px;
  height: 75px;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 13px;
}

.header__title {
  font-size: 70px;
  font-weight: 700;
  margin-left: -5px;
}

.header__number {
  font-size: 30px;
  font-weight: 500;
}

.main__contents-article {
  display: flex;
  font-size: 10px;
  font-weight: 500;
  justify-content: space-between;
  margin-bottom: 60px;
}

.main__contents-article__column:first-child {
  display: flex;
}

.main__contents-article-one {
  margin-right: 25px;
}

.main__contents-circles__column {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.main__contents-circles__column:first-child
  .main__contents-circles__column-circle {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  background-color: #bbe1f2;
}

.main__contents-circles__column:nth-child(2)
  .main__contents-circles__column-circle {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  background-color: #616365;
}

.main__contents-circles__column:nth-child(3)
  .main__contents-circles__column-circle {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  background-color: #03a366;
}
